In [ ]:
import pandas as pd

data1 = {"Name": ['Samantha', 'Jada', 'Jane', 'Claire', 'Elizabeth', 'Mary', 'Susan', 'Waje', 'Taibat', 'Lilian'],
       "Age": [17, 16, 17, 18, 16, 18, 17, 20, 19, 17],
       "Height": [5.5, 6.0, 5.4, 5.9, 5.6, 5.5, 6.1, 6.0, 5.7, 5.5],
       "Scores": [80, 85, 70, 60, 76, 66, 87, 95, 50, 49]}

data2 = {"Name": ['Charles', 'Jude', 'James', 'Kelvin', 'Biodun', 'Wale', 'Kunle', 'Matthew', 'Tom', 'Kayode'],
        "Age": [19, 16, 18, 17, 20, 19, 16, 18, 17, 19],
        "Height": [5.7, 5.9, 5.8, 6.1, 5.9, 5.5, 6.1, 5.4, 5.8, 5.7],
        "Scores": [74, 87, 75, 68, 66, 78, 87, 98, 54, 60]}

df = pd.DataFrame(data1)
dp = pd.DataFrame(data2)

print(dp)
df

Algorithm for Code:

START 
Import pandas as pd

CREATE data1 dictionary (Name, Age, Height, Scores)
             Name: Samantha', 'Jada', 'Jane', 'Claire', 'Elizabeth', 'Mary', 'Susan', 'Waje', 'Taibat', 'Lilian'
             Age: 17, 16, 17, 18, 16, 18, 17, 20, 19, 17
             Height: 5.5, 6.0, 5.4, 5.9, 5.6, 5.5, 6.1, 6.0, 5.7, 5.5
             Scores: 80, 85, 70, 60, 76, 66, 87, 95, 50, 49

CREATE data2 dictionary (Name, Age, Height, Scores)
             Name: 'Charles', 'Jude', 'James', 'Kelvin', 'Biodun', 'Wale', 'Kunle', 'Matthew', 'Tom', 'Kayode'
             Age": 19, 16, 18, 17, 20, 19, 16, 18, 17, 19
             Height": 5.7, 5.9, 5.8, 6.1, 5.9, 5.5, 6.1, 5.4, 5.8, 5.7
             Scores": 74, 87, 75, 68, 66, 78, 87, 98, 54, 60


CREATE DataFrame df from data1
ASSIGN data1 to df

CREATE DataFrame dp from data2
ASSIGN data2 to dp

PRINT dp
PRINT df