In [ ]:
import psycopg2

conn = psycopg2.connect(
    host="localhost",
    port="5432",
    user="postgres",
    password="csc101"
)

new_db_name = "mtn_nigeria"
conn.autocommit = True
cursor = conn.cursor()
cursor.execute(f"CREATE DATABASE {new_db_name};")

cursor.close()

conn.close()

In [ ]:
conn = psycopg2.connect(
    host="localhost",
    port="5432",
    database="mtn_nigeria",
    user="postgres",
    password="csc101"
)

cursor = conn.cursor()

create_table_query = '''
    CREATE TABLE customer_info (
        name varchar,
        email varchar,
        state_of_residence varchar,
        mobile varchar  )
'''

cursor.execute(create_table_query)

conn.commit()

cursor.close()
conn.close()

In [ ]:
import psycopg2

conn = psycopg2.connect(
    host="localhost",
    port="5432",
    database="mtn_nigeria",
    user="postgres",
    password="csc101"
)

cursor = conn.cursor()

insert_query = '''
    INSERT INTO customer_info (name, email, state_of_residence, mobile)
    VALUES (%s, %s, %s, %s)
'''

values = [
    ('Favor Okpara-Ngbo', 'fokpara-ngbo@mtn.com', 'Lagos', '08038212938'),
    ('Joshua Asekhauno', 'jasekhauno@mtn.com', 'Portharcourt', '080374940210'),
    ('Collins Odoh-Ifeanyi', 'codoh-ifeanyi@mtn.com', 'Abuja', '08067392029'),
    ('Chibundum Umeh', 'cumeh@mtn.com', 'Owerri', '0803493712348'),
    ('Clinto Okpara', 'cokpara@mtn.com', 'Kaduna', '08068381138')
]

for value_list in values:
    cursor.execute(insert_query, value_list)

conn.commit()

cursor.close()
conn.close()

print("Database Created")