In [14]:
import psycopg2

conn = psycopg2.connect(
    host="localhost",
    port='5432',
    user="postgres",
    password="csc101"
)

new_db_name = "comp_sci_dpt"
conn.autocommit = True
cursor = conn.cursor()
cursor.execute(f"CREATE DATABASE {new_db_name};")

cursor.close()
conn.close()

In [15]:
import psycopg2

conn = psycopg2.connect(
    host="localhost",
    port="5432",
    database="comp_sci_dpt",
    user="postgres",
    password="csc101"
)

cursor = conn.cursor()

create_table_query = '''
    CREATE TABLE csc102_class_list (
        firstname varchar,
        middlename varchar,
        surname varchar )
'''

cursor.execute(create_table_query)

conn.commit()

cursor.close()
conn.close()

In [16]:
import psycopg2
import pandas as pd

conn = psycopg2.connect(
    host="localhost",
    port="5432",
    database="comp_sci_dpt",
    user="postgres",
    password="csc101"
)

cursor = conn.cursor()

data = pd.read_csv("csc102_class_list.csv")

insert_query = '''
    INSERT INTO csc102_class_list (firstname, middlename, surname)
    VALUES (%s, %s, %s)
'''
for index, row in data.iterrows():
    values = (row['FIRST NAME'], row['MIDDLE NAME'], row['SURNAME'])
    cursor.execute(insert_query,values)

conn.commit()

cursor.close()
conn.close()